body {
  margin: 0;
  padding: 0;
}

.banner {
  height: 100vh;
  background-image: url('https://i.ibb.co/HNvHSyV/image-header.jpg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.contact {
  background-color: white;
  padding: 4px 10px;
  border-radius: 15px;
  color: black;
}

.main {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;

  font-size: 40px;
}

.arrow {
  margin-top: 30px;
  height: 50px;
}

.logo {
  height: 25px;
}

.nav {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: white;
}

.nav p {
  margin-right: 30px;
}

.section1,
.section2 {
  display: flex;
  height: 350px;
}

.section1 .right {
  background-image: url('https://i.ibb.co/D79rDCW/egg.jpg');
  background-size: cover;
  background-position: center;
}

.section1 .left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section1 .left h1 {
  padding-left: 10px;
}

.section1 .left p {
  margin-top: 15px;
  padding-left: 10px;
}

.section1 .left img {
  height: 20px;
}

.section1 .left div {
  margin-top: 10px;
  padding-left: 10px;
}

.section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section3 {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
}

.section3 h1 {
  /* margin-top: 20px; */
}

.clients {
  flex: 0.6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 10px; */
  /* margin-top: 20px; */
}

.client {
  background-color: lightpink;
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  text-align: center;
}

.user-pic img {
  border-radius: 50%;
}

.left,
.right {
  flex: 1;
}

.footer img {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
}
